<div id="myDiv">
<form id="Form" action="/articles/add" method="POST">
	  <label >Title :</label><br>
	  <input class="form-control" type="text" name="title" ><br>
	  <label >Author:</label><br>
	  <input class="form-control" type="text" name="author" ><br>
	  <label >Body :</label><br>
	  <textarea class  ="form-control" type="text" name="body" ></textarea><br><br>
	  <button type="submit" value="Submit" class="btn btn-primary btn-large">Submit</button>
</form>
</div>