<div id="myDiv">
<form id="Form" action="/articles/edit/{{article._id}}" method="POST">
	  <label >Title :</label><br>
	  <input class="form-control" type="text" name="title" value="{{article.title}}"><br>
	  <label >Body :</label><br>
	  <textarea class  ="form-control" type="text" name="body" >{{article.body}}</textarea><br><br>
	  <button type="submit" value="Submit" class="btn btn-primary btn-large">Submit</button>
</form>
</div>