<div id="myDiv">
<form id="Form" action="/users/register" method="POST">
	  <label >Name :</label><br>
	  <input class="form-control" type="text" name="name" ><br>
	  <label >Email:</label><br>
	  <input class="form-control" type="text" name="email" ><br>
	  <label >Username:</label><br>
	  <input class="form-control" type="text" name="username" ><br>
	  <label >Password:</label><br>
	  <input class="form-control" type="password" name="password" ><br>
	  <label >Confirm Password:</label><br>
	  <input class="form-control" type="password" name="password2" ><br>
	  <button type="submit" value="Submit" class="btn btn-primary btn-large">Submit</button>
</form>
</div>